- return if comment.id.nil?
.comment_wrapper
  .avatar
    = EmojiHelper::emojatar(comment.user.avatar || ':smile:')
  .comment_header
    .identity
      = comment.user.email
    .when
      &nbsp; said #{time_ago_in_words(comment.created_at)} ago
    .right-side
      .edit
        - if current_user == comment.user && params[:action] != 'edit'
          = link_to 'edit', edit_comment_path(comment)
      .counter
        - if defined? total
          \##{total - comment_counter}
  .comment_text
    = simple_format EmojiHelper::emojify(comment.comment)
