= simple_form_for @comment do |f|
  = f.input :comment
  = hidden_field_tag :plan_detail_id, @comment.commentable.id
  = button_tag :submit
  &nbsp; &nbsp; &nbsp; &nbsp;
  = link_to 'http://www.emoji-cheat-sheet.com', 'http://www.emoji-cheat-sheet.com', target: '_blank'
