%h3
  .date
    = plan_detail.assigned_date.strftime('%b %d, %Y')
  .passage-ref
    = plan_detail.passage_ref
    &nbsp; &nbsp; 
    = link_to 'EN', Utils.bgateway_link(plan_detail.passage_ref), :target => '_blank' 
    = link_to 'CH', Utils.bgateway_link(plan_detail.passage_ref, 'CUVMPS'), :target => '_blank' 
  .comment-button
    = link_to 'add comment', plan_detail_path(plan_detail)
%br
