%p
  = link_to plan.name, plan_path(plan)
  = plan.created_at.strftime('%b %e')
  by
  = plan.creator.email

  = pluralize(plan.plan_details.map { |a| a.comments.count }.sum, 'comments')

  - if plan.creator == current_user
    = link_to 'edit', edit_plan_path(plan)
