%h1 Plan Index
#plan
  %h2
    = @plan.name
    %span(style="float:right;")
      %span(style="font-size:0.8em")
        = link_to 'Your Other Reading Plans'
      = link_to button_tag('Start A New Reading Plan'), plan_templates_path

  - @plan_details.each do |plan_detail|
    %p
      = render :partial => 'plan_details/plan_detail_header', :locals => { plan_detail: plan_detail }
      .comments
        = render plan_detail.comments, total: plan_detail.comments.count
#members
  = button_tag 'Invite'
  %br
  %br
  Members
  %hr
  = render :partial => 'users/plan_users', :locals => { users: User.all }

  %br
  Pending
  %hr
  Esther
  %br
  Grace
  %br
  Sung
  %br
  Chloe
