%h1 Plan Summary
#plan
  %h2
    = @plan.name
    %span(style="float:right;")
      %span(style="font-size:0.8em")
        = link_to 'Your Other Reading Plans'
      = button_tag 'Create New Reading Plan'

  - @plan_details.each do |plan_detail|
    %p
      = render :partial => 'plan_details/plan_detail_header', :locals => { plan_detail: plan_detail }
      .comments
        = render plan_detail.comments, total: plan_detail.comments.count
#members
  = button_tag 'Invite'
  %br
  %br
  Members
  %hr
  %p
    %div(style="width:50px;height:50px;background-color:#78ab78;float:left;")
    &nbsp; 
    %span(style="color:black;font-weight:bold") Daniel Yoon
  %br
  %p
    %div(style="width:50px;height:50px;background-color:#c4c4ff;float:left;")
    &nbsp; Rose Yoon
    %br
    &nbsp;
    = link_to 'ban'
    &middot;
    = link_to 'mute'
  %br
  %p
    %div(style="width:50px;height:50px;background-color:pink;float:left;")
    &nbsp; Sophia Yoon
    %br
    &nbsp;
    = link_to 'ban'
    &middot;
    = link_to 'mute'
  %br
  %p
    %div(style="width:50px;height:50px;background-color:green;float:left;")
    &nbsp; Bad Boy (banned)
    %br
    &nbsp;
    = link_to 'unban'
  %br
  %p
    %div(style="width:50px;height:50px;background-color:pink;float:left;")
    &nbsp; Bad Girl (muted)
    %br
    &nbsp;
    = link_to 'unmute'
  %br
  %br
  Pending
  %hr
  Esther
  %br
  Grace
  %br
  Sung
  %br
  Chloe
