%h2
  = @plan.name

- @plan_details.each do |pd|
  %p
    = pd.assigned_date.strftime('%b %d, %Y')
    = pd.passage_ref
    = link_to 'EN', Utils.bgateway_link(pd.passage_ref), :target => '_blank' 
    = link_to 'CH', Utils.bgateway_link(pd.passage_ref, 'CUVMPS'), :target => '_blank' 

    &nbsp;
    &nbsp;
    &nbsp;
    -# performance hack to bypass n+1
    = link_to pluralize(pd.comments.map { 1 }.sum, 'comment'), plan_detail_path(pd)
    &nbsp;
    &nbsp;
    &nbsp;
    -#= link_to 'add comment', dashboard_comment_path(:id => pd)

