%h1 Plan Index
#plan
  %h2
    = @plan.name
    %span(style="float:right;")
      %span(style="font-size:0.8em")
        = link_to 'Your Other Reading Plans', dashboard_home_path
      = link_to button_tag('Start A New Reading Plan'), plan_templates_path

  - @plan_details.each do |plan_detail|
    %div{class: 'plan_details', data: {plan_detail_id: plan_detail.id} }
      = render :partial => 'plan_details/plan_detail_header', :locals => { plan_detail: plan_detail }
      .comment-form-location
      .comments(style="clear:both;")
        = render plan_detail.comments, total: plan_detail.comments.count
  #comment-form
    = render 'comments/form', :comment => Comment.new
    #emoji_list(style="margin:20px 0 20px 0;")
      - @emoji_list.each do |emoji|
        = EmojiHelper.linkify(emoji)
#members
  = link_to button_tag('Invite'), new_plan_invite_path(@plan)
  %br
  %br
  Members
  %hr
  = render :partial => 'users/plan_users', :locals => { users: @members }
  %br
  Pending
  %hr
  = render @pending_invites
